<%# <h2>お手伝い記録</h2> %>

<% if @child.icon.attached? %>
  <%= image_tag @child.icon, class: "child-icon-show" %>
<% end %>

<div class="button-memory">
  <%= link_to "アルバム", album_child_task_logs_path(@child), class: "btn btn-pastel" %>
</div>
<div class="button-memory">
  <%= link_to "写真登録", new_memory_child_task_logs_path(@child), class: "btn btn-pastel" %>
</div>
<p class="period">
  <%= link_to '今日', child_path(@child, period: 'day')%> |
  <%= link_to '今週', child_path(@child, period: 'week')%> |
  <%= link_to '今月', child_path(@child, period: 'month')%>
  </p>
  <p class="total-points"><%= @total_points %> pt</p>

  <ul>
    <% @filtered_logs.each do |log| %>
    <li class="task-log">
      <div class="task-log-header">
        <span class="task-title">
          <%= log.task_template.title %>(<%= log.task_template.point %>pt)</span>
      
      <%= link_to '削除', child_task_log_path(@child, log),
                method: :delete,
                data: { confirm: "このお手伝い記録を削除しますか？" },
                class: 'delete-button' %>
      </div>
      <div class="task-date">
        <%= log.created_at.strftime('%Y/%m/%d') %>
        </div>
    </li>
   <% end %>
  </ul>    
 <%# <div class="button-group">
  <%= link_to "戻る", root_path, class: "btn btn-pastel" %>
 </div>  