<h2>テンプレートを編集</h2>

<%= form_with(model: @task_template, local: true) do |f| %>
  <div>
    <%= f.label :title, "お手伝いの名前" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :point, "ポイント" %><br>
    <%= f.number_field :point %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to '一覧へ戻る', task_templates_path %>