<h2>お手伝いテンプレート一覧</h2>

<%= link_to "+ 新しいテンプレートを作る", new_task_template_path %>

<ul class="template-list">
  <% @task_templates.each do |template| %>
    <li class="template-item">
      <strong><%= link_to template.title, task_template_path(template) %></strong>
      （<%= template.point %> pt）
      [<%= link_to '編集', edit_task_template_path(template) %>]
      [<%= link_to '削除', task_template_path(template), method: :delete, data: { confirm: '本当に削除しますか？' } %>]
    </li>
  <% end %>
</ul>
