<%# <h2><%= @child.name %></h2>

<% if @image_logs.any? %>
 <div class="album-grid">
  <% @image_logs.each do |log| %>
   <div class="album-item">
    <%= link_to child_task_log_path(@child,log) do %>
    <%= image_tag log.image.variant(resize_to_limit: [300, 300]), class: "album-image" %>
    <% end %>

    <% if log.task_template.present? %>
     <p class="task-title"><%= log.task_template.title %></p>
    <% else %>
     <p class="task-title"><%= log.title %></p>
    <% end %>

    <p class="timestamp"><%= log.created_at.strftime('%Y/%m/%d') %></p>
   </div>
  <% end %>  
 </div>
<% else %>
 <p>写真はありません</p>
<% end %>
</div> 


